<div class="container">
  <form #registerForm="ngForm">
    <h2>Register</h2>
    <div class="form-group">
      <ngx-form-input name="email"
                      label="Email *"
                      placeholder="Type your email"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                      required="true"
                      [(ngModel)]="data.email"></ngx-form-input>
    </div>

    <div class="form-group">
      <ngx-form-input name="password"
                      label="Password *"
                      type="password"
                      pattern="[0-9]{3,}"
                      placeholder="Type your password"
                      required="true"
                      minlength="3"
                      [(ngModel)]="data.password"></ngx-form-input>
    </div>

    <div class="form-group">
      <ngx-form-input name="password"
                      label="Repeat password *"
                      type="password"
                      placeholder="Type your password again"
                      [match]="data.password"
                      required="true"
                      [(ngModel)]="data.repeatPassword"></ngx-form-input>
    </div>

    <div class="form-group">
      <ngx-form-input name="age"
                      label="Age"
                      placeholder="Type your age"
                      type="number"
                      [(ngModel)]="data.age"></ngx-form-input>
    </div>

    <div class="form-group">
      <ngx-form-textarea name="description"
                         label="Description"
                         placeholder="Type your description"
                         [(ngModel)]="data.description"></ngx-form-textarea>
    </div>

    <div class="form-group">
      <ngx-form-select name="gender"
                       label="Gender *"
                       placeholder="Select your gender"
                       required="true"
                       [valueKey]="'value'"
                       [comparedKey]="'value'"
                       [options]="listGender"
                       [(ngModel)]="data.gender"></ngx-form-select>
    </div>

    <div class="form-group">
      <ngx-form-select2 name="gender"
                        label="Gender *"
                        placeholder="Select your gender"
                        required="true"
                        [valueKey]="'value'"
                        [comparedKey]="'value'"
                        [options]="listGender"
                        [(ngModel)]="data.gender"></ngx-form-select2>
    </div>

    <div class="form-group">
      <ngx-form-radio name="gender"
                      label="Gender *"
                      required="true"
                      [valueKey]="'value'"
                      [comparedKey]="'value'"
                      [options]="listGender"
                      [(ngModel)]="data.gender"></ngx-form-radio>
    </div>

    <div class="form-group">
      <ngx-form-select name="skill"
                       label="Skills *"
                       placeholder="Select your job skills"
                       required="true"
                       multiple="true"
                       [options]="listSkill"
                       [(ngModel)]="data.skill"></ngx-form-select>
    </div>

    <div class="form-group">
      {{data.skill|json}}
      <ngx-form-select2 name="skill"
                        label="Skills *"
                        placeholder="Select your job skills"
                        required="true"
                        multiple="true"
                        [options]="listSkill"
                        [tag]="true"
                        [(ngModel)]="data.skill"></ngx-form-select2>
    </div>

    <div class="form-group">
      <ngx-form-checkbox name="skill"
                         label="Skills *"
                         required="true"
                         multiple="true"
                         [options]="listSkill"
                         [(ngModel)]="data.skill"></ngx-form-checkbox>
    </div>

    <div class="form-group">
      <ngx-form-toggle name="allowAd"
                       label="I agree to receive ad email!"
                       required="true"
                       [(ngModel)]="data.allowAd"></ngx-form-toggle>
    </div>

    <div class="form-group">
      <ngx-form-toggle name="allowAd"
                       label="I agree to receive ad email!"
                       required="true"
                       type="toggle"
                       [(ngModel)]="data.allowAd"></ngx-form-toggle>
    </div>

    <button class="btn btn-primary" [disabled]="!registerForm.form.valid">Submit</button>
  </form>
</div>
